{
    "env": {
      "es6": true,
      "node": true
    },
    "extends": "eslint:recommended",
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    },
    "plugins": ["eslint-plugin-mocha"],
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "rules": {
      "mocha/no-exclusive-tests": "error",
      "indent": ["error", 2, {
        "SwitchCase": 1,
        "VariableDeclarator": "first",
        "MemberExpression": 1,
        "FunctionDeclaration": {
          "parameters": "first",
          "body": 1
        },
        "CallExpression": {
          "arguments": 1
        },
        "ArrayExpression": "first",
        "ObjectExpression": "first",
        "ImportDeclaration": "first"
      }],
      "linebreak-style": ["error", "unix"],
      "quotes": ["error", "single"],
      "semi": ["error", "always"],
      "no-console": "error",
      "camelcase": "error",
      "no-await-in-loop": "error",
      "array-bracket-newline": ["error", { "multiline": true }],
      "comma-spacing": "error",
      "comma-dangle": ["error", "always-multiline"],
      "func-call-spacing": "error",
      "max-len": ["error", 150],
      "no-confusing-arrow": "error",
      "no-trailing-spaces": "error",
      "curly": ["error", "all"],
      "eqeqeq": "error",
      "newline-before-return": "error",
      "arrow-body-style": ["error", "as-needed"],
      "arrow-spacing": ["error", { "before": true, "after": true }],
      "object-curly-spacing": ["error", "always"]
    }
  }